<!DOCTYPE html>
<html>
  <head>
      <title>React Express App</title>
      <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <style>
        .strikethrough{
            text-decoration: line-through;
            color: slategray;
        }
    </style>
    <div id="app"></div>
  </body>
</html>
